<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>State</th>
      <th>yearsofexperience</th>
      <th>listings</th>
      <th>medianSalary</th>
      <th>averageSalary</th>
      <th>commonCompany</th>
      <th>commonLocation</th>
      <th>commonJob</th>
      <th>averageCostOfLivingFactor</th>
      <th>standardizedMedianSalaries</th>
      <th>standardizedAverageSalaries</th>
      <th>latitude</th>
      <th>longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AL</td>
      <td>5.0</td>
      <td>24.0</td>
      <td>116000.0</td>
      <td>113666.67</td>
      <td>Shipt</td>
      <td>Huntsville, AL</td>
      <td>Software Engineer</td>
      <td>0.89</td>
      <td>129802.31</td>
      <td>127191.35</td>
      <td>32.38</td>
      <td>-86.30</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AK</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>58.30</td>
      <td>-134.42</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AZ</td>
      <td>5.0</td>
      <td>372.0</td>
      <td>112000.0</td>
      <td>115182.80</td>
      <td>Intel</td>
      <td>Phoenix, AZ</td>
      <td>Software Engineer</td>
      <td>1.00</td>
      <td>111567.68</td>
      <td>114738.19</td>
      <td>33.45</td>
      <td>-112.10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AR</td>
      <td>5.0</td>
      <td>86.0</td>
      <td>100000.0</td>
      <td>106883.72</td>
      <td>Walmart Labs</td>
      <td>Bentonville, AR</td>
      <td>Software Engineer</td>
      <td>0.86</td>
      <td>116228.39</td>
      <td>124229.23</td>
      <td>34.75</td>
      <td>-92.29</td>
    </tr>
    <tr>
      <th>4</th>
      <td>CA</td>
      <td>6.0</td>
      <td>21820.0</td>
      <td>160000.0</td>
      <td>168819.03</td>
      <td>Google</td>
      <td>San Francisco, CA</td>
      <td>Software Engineer</td>
      <td>1.26</td>
      <td>127239.95</td>
      <td>134253.28</td>
      <td>38.58</td>
      <td>-121.49</td>
    </tr>
    <tr>
      <th>5</th>
      <td>CO</td>
      <td>6.0</td>
      <td>566.0</td>
      <td>132000.0</td>
      <td>134246.47</td>
      <td>Google</td>
      <td>Denver, CO</td>
      <td>Software Engineer</td>
      <td>1.08</td>
      <td>121883.66</td>
      <td>123957.96</td>
      <td>39.74</td>
      <td>-104.98</td>
    </tr>
    <tr>
      <th>6</th>
      <td>CT</td>
      <td>5.5</td>
      <td>104.0</td>
      <td>110000.0</td>
      <td>117259.62</td>
      <td>FactSet</td>
      <td>Hartford, CT</td>
      <td>Software Engineer</td>
      <td>1.09</td>
      <td>101326.46</td>
      <td>108013.65</td>
      <td>41.76</td>
      <td>-72.68</td>
    </tr>
    <tr>
      <th>7</th>
      <td>DE</td>
      <td>5.0</td>
      <td>57.0</td>
      <td>106000.0</td>
      <td>111350.88</td>
      <td>JPMorgan Chase</td>
      <td>Wilmington, DE</td>
      <td>Software Engineer</td>
      <td>1.01</td>
      <td>104639.68</td>
      <td>109921.89</td>
      <td>39.16</td>
      <td>-75.52</td>
    </tr>
    <tr>
      <th>8</th>
      <td>FL</td>
      <td>6.0</td>
      <td>291.0</td>
      <td>116000.0</td>
      <td>119934.71</td>
      <td>Citrix Systems Inc</td>
      <td>Orlando, FL</td>
      <td>Software Engineer</td>
      <td>1.01</td>
      <td>114552.06</td>
      <td>118437.66</td>
      <td>21.31</td>
      <td>-157.86</td>
    </tr>
    <tr>
      <th>9</th>
      <td>GA</td>
      <td>5.0</td>
      <td>565.0</td>
      <td>117000.0</td>
      <td>122129.20</td>
      <td>Microsoft</td>
      <td>Atlanta, GA</td>
      <td>Software Engineer</td>
      <td>0.92</td>
      <td>127312.30</td>
      <td>132893.58</td>
      <td>30.44</td>
      <td>-84.28</td>
    </tr>
    <tr>
      <th>10</th>
      <td>HI</td>
      <td>5.0</td>
      <td>4.0</td>
      <td>149000.0</td>
      <td>142000.00</td>
      <td>Amazon</td>
      <td>Honolulu, HI</td>
      <td>Software Engineer</td>
      <td>1.55</td>
      <td>96393.34</td>
      <td>91864.79</td>
      <td>33.75</td>
      <td>-84.39</td>
    </tr>
    <tr>
      <th>11</th>
      <td>ID</td>
      <td>6.0</td>
      <td>45.0</td>
      <td>103000.0</td>
      <td>115600.00</td>
      <td>Micron Technology</td>
      <td>Boise, ID</td>
      <td>Software Engineer</td>
      <td>0.95</td>
      <td>108459.11</td>
      <td>121726.92</td>
      <td>43.62</td>
      <td>-116.20</td>
    </tr>
    <tr>
      <th>12</th>
      <td>IL</td>
      <td>5.0</td>
      <td>860.0</td>
      <td>125000.0</td>
      <td>127840.12</td>
      <td>Accenture</td>
      <td>Chicago, IL</td>
      <td>Software Engineer</td>
      <td>0.88</td>
      <td>141951.36</td>
      <td>145176.62</td>
      <td>39.80</td>
      <td>-89.65</td>
    </tr>
    <tr>
      <th>13</th>
      <td>IN</td>
      <td>5.0</td>
      <td>92.0</td>
      <td>100000.0</td>
      <td>109641.30</td>
      <td>Salesforce</td>
      <td>Indianapolis, IN</td>
      <td>Software Engineer</td>
      <td>0.87</td>
      <td>114547.54</td>
      <td>125591.41</td>
      <td>39.77</td>
      <td>-86.16</td>
    </tr>
    <tr>
      <th>14</th>
      <td>IA</td>
      <td>6.0</td>
      <td>30.0</td>
      <td>104500.0</td>
      <td>108400.00</td>
      <td>Collins Aerospace</td>
      <td>Des Moines, IA</td>
      <td>Software Engineer</td>
      <td>0.90</td>
      <td>116710.88</td>
      <td>121066.59</td>
      <td>41.59</td>
      <td>-93.60</td>
    </tr>
    <tr>
      <th>15</th>
      <td>KS</td>
      <td>7.0</td>
      <td>37.0</td>
      <td>93000.0</td>
      <td>105972.97</td>
      <td>Garmin</td>
      <td>Olathe, KS</td>
      <td>Software Engineer</td>
      <td>0.88</td>
      <td>106261.43</td>
      <td>121084.29</td>
      <td>39.05</td>
      <td>-95.68</td>
    </tr>
    <tr>
      <th>16</th>
      <td>KY</td>
      <td>7.5</td>
      <td>24.0</td>
      <td>100000.0</td>
      <td>108625.00</td>
      <td>Humana</td>
      <td>Louisville, KY</td>
      <td>Software Engineer</td>
      <td>0.88</td>
      <td>113407.26</td>
      <td>123188.63</td>
      <td>38.19</td>
      <td>-84.88</td>
    </tr>
    <tr>
      <th>17</th>
      <td>LA</td>
      <td>5.0</td>
      <td>31.0</td>
      <td>93000.0</td>
      <td>103354.84</td>
      <td>IBM</td>
      <td>New Orleans, LA</td>
      <td>Software Engineer</td>
      <td>0.89</td>
      <td>104966.14</td>
      <td>116653.32</td>
      <td>30.46</td>
      <td>-91.19</td>
    </tr>
    <tr>
      <th>18</th>
      <td>ME</td>
      <td>5.0</td>
      <td>4.0</td>
      <td>96500.0</td>
      <td>97000.00</td>
      <td>Blackhawk Network</td>
      <td>Portland, ME</td>
      <td>Software Engineer</td>
      <td>1.03</td>
      <td>93985.88</td>
      <td>94472.85</td>
      <td>44.31</td>
      <td>-69.78</td>
    </tr>
    <tr>
      <th>19</th>
      <td>MD</td>
      <td>6.0</td>
      <td>102.0</td>
      <td>125000.0</td>
      <td>127921.57</td>
      <td>Northrop Grumman</td>
      <td>Baltimore, MD</td>
      <td>Software Engineer</td>
      <td>1.01</td>
      <td>123615.51</td>
      <td>126504.72</td>
      <td>38.98</td>
      <td>-76.49</td>
    </tr>
    <tr>
      <th>20</th>
      <td>MA</td>
      <td>5.0</td>
      <td>1669.0</td>
      <td>135000.0</td>
      <td>137634.81</td>
      <td>Wayfair</td>
      <td>Boston, MA</td>
      <td>Software Engineer</td>
      <td>1.15</td>
      <td>117852.47</td>
      <td>120152.61</td>
      <td>42.36</td>
      <td>-71.06</td>
    </tr>
    <tr>
      <th>21</th>
      <td>MI</td>
      <td>5.0</td>
      <td>214.0</td>
      <td>110000.0</td>
      <td>115113.08</td>
      <td>General Motors</td>
      <td>Detroit, MI</td>
      <td>Software Engineer</td>
      <td>0.90</td>
      <td>122446.71</td>
      <td>128138.35</td>
      <td>42.73</td>
      <td>-84.56</td>
    </tr>
    <tr>
      <th>22</th>
      <td>MN</td>
      <td>5.0</td>
      <td>270.0</td>
      <td>120000.0</td>
      <td>122277.78</td>
      <td>Target</td>
      <td>Minneapolis, MN</td>
      <td>Software Engineer</td>
      <td>0.98</td>
      <td>122306.35</td>
      <td>124627.90</td>
      <td>44.96</td>
      <td>-93.10</td>
    </tr>
    <tr>
      <th>23</th>
      <td>MS</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>100000.0</td>
      <td>90333.33</td>
      <td>ABB</td>
      <td>Mississippi State, MS</td>
      <td>Business Analyst</td>
      <td>0.86</td>
      <td>116324.16</td>
      <td>105079.49</td>
      <td>32.30</td>
      <td>-90.18</td>
    </tr>
    <tr>
      <th>24</th>
      <td>MO</td>
      <td>5.0</td>
      <td>188.0</td>
      <td>90000.0</td>
      <td>102329.79</td>
      <td>Cerner</td>
      <td>Kansas City, MO</td>
      <td>Software Engineer</td>
      <td>0.88</td>
      <td>102540.73</td>
      <td>116588.57</td>
      <td>38.58</td>
      <td>-92.17</td>
    </tr>
    <tr>
      <th>25</th>
      <td>MT</td>
      <td>8.0</td>
      <td>7.0</td>
      <td>95000.0</td>
      <td>113714.29</td>
      <td>Oracle</td>
      <td>Helena, MT</td>
      <td>Software Engineer</td>
      <td>1.05</td>
      <td>90132.83</td>
      <td>107888.32</td>
      <td>46.59</td>
      <td>-112.02</td>
    </tr>
    <tr>
      <th>26</th>
      <td>NE</td>
      <td>5.0</td>
      <td>25.0</td>
      <td>105000.0</td>
      <td>102800.00</td>
      <td>Mutual of Omaha</td>
      <td>Omaha, NE</td>
      <td>Software Engineer</td>
      <td>0.92</td>
      <td>113965.27</td>
      <td>111577.42</td>
      <td>40.81</td>
      <td>-96.70</td>
    </tr>
    <tr>
      <th>27</th>
      <td>NV</td>
      <td>4.5</td>
      <td>22.0</td>
      <td>114500.0</td>
      <td>118000.00</td>
      <td>Zappos</td>
      <td>Las Vegas, NV</td>
      <td>Software Engineer</td>
      <td>1.04</td>
      <td>110414.66</td>
      <td>113789.78</td>
      <td>39.16</td>
      <td>-119.77</td>
    </tr>
    <tr>
      <th>28</th>
      <td>NH</td>
      <td>5.0</td>
      <td>34.0</td>
      <td>112000.0</td>
      <td>108794.12</td>
      <td>Oracle</td>
      <td>Nashua, NH</td>
      <td>Software Engineer</td>
      <td>1.06</td>
      <td>106085.72</td>
      <td>103049.13</td>
      <td>43.21</td>
      <td>-71.54</td>
    </tr>
    <tr>
      <th>29</th>
      <td>NJ</td>
      <td>5.0</td>
      <td>456.0</td>
      <td>130000.0</td>
      <td>135103.07</td>
      <td>JPMorgan Chase</td>
      <td>Jersey City, NJ</td>
      <td>Software Engineer</td>
      <td>1.03</td>
      <td>125725.34</td>
      <td>130660.61</td>
      <td>40.22</td>
      <td>-74.77</td>
    </tr>
    <tr>
      <th>30</th>
      <td>NM</td>
      <td>4.5</td>
      <td>10.0</td>
      <td>119500.0</td>
      <td>116300.00</td>
      <td>Sandia National Labs</td>
      <td>Albuquerque, NM</td>
      <td>Software Engineer</td>
      <td>0.91</td>
      <td>131862.07</td>
      <td>128331.03</td>
      <td>35.68</td>
      <td>-105.94</td>
    </tr>
    <tr>
      <th>31</th>
      <td>NY</td>
      <td>5.0</td>
      <td>4580.0</td>
      <td>155000.0</td>
      <td>158123.85</td>
      <td>Bloomberg</td>
      <td>New York, NY</td>
      <td>Software Engineer</td>
      <td>0.97</td>
      <td>159729.78</td>
      <td>162948.95</td>
      <td>42.65</td>
      <td>-73.76</td>
    </tr>
    <tr>
      <th>32</th>
      <td>NC</td>
      <td>6.0</td>
      <td>490.0</td>
      <td>125000.0</td>
      <td>129146.94</td>
      <td>IBM</td>
      <td>Raleigh, NC</td>
      <td>Software Engineer</td>
      <td>0.92</td>
      <td>136106.27</td>
      <td>140621.67</td>
      <td>35.78</td>
      <td>-78.64</td>
    </tr>
    <tr>
      <th>33</th>
      <td>ND</td>
      <td>4.0</td>
      <td>5.0</td>
      <td>90000.0</td>
      <td>101600.00</td>
      <td>AWS</td>
      <td>Fargo, ND</td>
      <td>Software Engineer</td>
      <td>0.91</td>
      <td>98387.54</td>
      <td>111068.60</td>
      <td>46.82</td>
      <td>-100.78</td>
    </tr>
    <tr>
      <th>34</th>
      <td>OH</td>
      <td>5.5</td>
      <td>198.0</td>
      <td>105500.0</td>
      <td>112176.77</td>
      <td>JPMorgan Chase</td>
      <td>Columbus, OH</td>
      <td>Software Engineer</td>
      <td>0.89</td>
      <td>118800.23</td>
      <td>126318.72</td>
      <td>39.96</td>
      <td>-83.00</td>
    </tr>
    <tr>
      <th>35</th>
      <td>OK</td>
      <td>4.0</td>
      <td>18.0</td>
      <td>85000.0</td>
      <td>91222.22</td>
      <td>Paycom</td>
      <td>Oklahoma City, OK</td>
      <td>Software Engineer</td>
      <td>0.84</td>
      <td>100898.76</td>
      <td>108284.82</td>
      <td>35.49</td>
      <td>-97.50</td>
    </tr>
    <tr>
      <th>36</th>
      <td>OR</td>
      <td>8.0</td>
      <td>619.0</td>
      <td>135000.0</td>
      <td>138222.00</td>
      <td>Intel</td>
      <td>Portland, OR</td>
      <td>Software Engineer</td>
      <td>1.06</td>
      <td>127108.67</td>
      <td>130142.33</td>
      <td>44.94</td>
      <td>-123.03</td>
    </tr>
    <tr>
      <th>37</th>
      <td>PA</td>
      <td>5.0</td>
      <td>470.0</td>
      <td>125000.0</td>
      <td>124785.11</td>
      <td>Comcast</td>
      <td>Philadelphia, PA</td>
      <td>Software Engineer</td>
      <td>0.93</td>
      <td>133758.51</td>
      <td>133528.56</td>
      <td>40.26</td>
      <td>-76.88</td>
    </tr>
    <tr>
      <th>38</th>
      <td>RI</td>
      <td>4.0</td>
      <td>17.0</td>
      <td>105000.0</td>
      <td>103117.65</td>
      <td>CVS Health</td>
      <td>Providence, RI</td>
      <td>Software Engineer</td>
      <td>1.12</td>
      <td>94170.40</td>
      <td>92482.19</td>
      <td>41.83</td>
      <td>-71.41</td>
    </tr>
    <tr>
      <th>39</th>
      <td>SC</td>
      <td>5.0</td>
      <td>22.0</td>
      <td>94000.0</td>
      <td>104090.91</td>
      <td>Blackbaud</td>
      <td>Charleston, SC</td>
      <td>Software Engineer</td>
      <td>0.93</td>
      <td>100632.60</td>
      <td>111435.52</td>
      <td>34.00</td>
      <td>-81.03</td>
    </tr>
    <tr>
      <th>40</th>
      <td>SD</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.94</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>44.37</td>
      <td>-100.35</td>
    </tr>
    <tr>
      <th>41</th>
      <td>TN</td>
      <td>5.0</td>
      <td>77.0</td>
      <td>114000.0</td>
      <td>110727.27</td>
      <td>Amazon</td>
      <td>Nashville, TN</td>
      <td>Software Engineer</td>
      <td>0.90</td>
      <td>126116.16</td>
      <td>122495.60</td>
      <td>36.17</td>
      <td>-86.78</td>
    </tr>
    <tr>
      <th>42</th>
      <td>TX</td>
      <td>6.0</td>
      <td>2631.0</td>
      <td>125000.0</td>
      <td>128568.07</td>
      <td>Amazon</td>
      <td>Austin, TX</td>
      <td>Software Engineer</td>
      <td>0.91</td>
      <td>137282.18</td>
      <td>141200.84</td>
      <td>30.27</td>
      <td>-97.74</td>
    </tr>
    <tr>
      <th>43</th>
      <td>UT</td>
      <td>5.0</td>
      <td>222.0</td>
      <td>120000.0</td>
      <td>119589.64</td>
      <td>Qualtrics</td>
      <td>Salt Lake City, UT</td>
      <td>Software Engineer</td>
      <td>1.00</td>
      <td>120048.02</td>
      <td>119637.49</td>
      <td>40.78</td>
      <td>-111.89</td>
    </tr>
    <tr>
      <th>44</th>
      <td>VT</td>
      <td>7.0</td>
      <td>7.0</td>
      <td>107000.0</td>
      <td>107428.57</td>
      <td>Cox Automotive</td>
      <td>Burlington, VT</td>
      <td>Software Engineer</td>
      <td>1.13</td>
      <td>94858.16</td>
      <td>95238.10</td>
      <td>44.26</td>
      <td>-72.58</td>
    </tr>
    <tr>
      <th>45</th>
      <td>VA</td>
      <td>4.0</td>
      <td>900.0</td>
      <td>125000.0</td>
      <td>131218.22</td>
      <td>Capital One</td>
      <td>Arlington, VA</td>
      <td>Software Engineer</td>
      <td>0.95</td>
      <td>131983.11</td>
      <td>138548.71</td>
      <td>37.54</td>
      <td>-77.43</td>
    </tr>
    <tr>
      <th>46</th>
      <td>WA</td>
      <td>6.0</td>
      <td>11774.0</td>
      <td>149000.0</td>
      <td>151226.41</td>
      <td>Amazon</td>
      <td>Seattle, WA</td>
      <td>Software Engineer</td>
      <td>1.07</td>
      <td>139221.72</td>
      <td>141302.02</td>
      <td>47.04</td>
      <td>-122.91</td>
    </tr>
    <tr>
      <th>47</th>
      <td>WV</td>
      <td>7.0</td>
      <td>11.0</td>
      <td>86000.0</td>
      <td>100454.55</td>
      <td>Leidos</td>
      <td>Morgantown, WV</td>
      <td>Software Engineer</td>
      <td>0.84</td>
      <td>102829.81</td>
      <td>120113.05</td>
      <td>38.34</td>
      <td>-81.61</td>
    </tr>
    <tr>
      <th>48</th>
      <td>WI</td>
      <td>3.0</td>
      <td>150.0</td>
      <td>110000.0</td>
      <td>120206.67</td>
      <td>Epic Systems</td>
      <td>Madison, WI</td>
      <td>Software Engineer</td>
      <td>0.91</td>
      <td>120405.58</td>
      <td>131577.75</td>
      <td>43.07</td>
      <td>-89.38</td>
    </tr>
    <tr>
      <th>49</th>
      <td>WY</td>
      <td>7.0</td>
      <td>1.0</td>
      <td>131000.0</td>
      <td>131000.00</td>
      <td>Microsoft</td>
      <td>Cheyenne, WY</td>
      <td>Software Engineer</td>
      <td>0.96</td>
      <td>137100.99</td>
      <td>137100.99</td>
      <td>41.14</td>
      <td>-104.82</td>
    </tr>
  </tbody>
</table>