<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>State</th>
      <th>yearsofexperience</th>
      <th>listings</th>
      <th>medianSalary</th>
      <th>averageSalary</th>
      <th>commonCompany</th>
      <th>averageCostOfLivingFactor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>AK</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.093000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>AL</td>
      <td>5.0</td>
      <td>25.0</td>
      <td>110000.0</td>
      <td>109120.000000</td>
      <td>Shipt</td>
      <td>0.893667</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>AR</td>
      <td>5.0</td>
      <td>88.0</td>
      <td>100000.0</td>
      <td>104454.545455</td>
      <td>Walmart Labs</td>
      <td>0.860375</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>AZ</td>
      <td>5.0</td>
      <td>379.0</td>
      <td>112000.0</td>
      <td>113055.408971</td>
      <td>Intel</td>
      <td>1.003875</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>CA</td>
      <td>6.0</td>
      <td>22824.0</td>
      <td>160000.0</td>
      <td>161392.882054</td>
      <td>Google</td>
      <td>1.257467</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>CO</td>
      <td>6.0</td>
      <td>590.0</td>
      <td>130000.0</td>
      <td>128785.593220</td>
      <td>Google</td>
      <td>1.083000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>CT</td>
      <td>6.0</td>
      <td>106.0</td>
      <td>109000.0</td>
      <td>115047.169811</td>
      <td>FactSet</td>
      <td>1.085600</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>DC</td>
      <td>5.0</td>
      <td>592.0</td>
      <td>130000.0</td>
      <td>131646.959459</td>
      <td>Capital One</td>
      <td>1.201000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>DE</td>
      <td>5.0</td>
      <td>59.0</td>
      <td>103000.0</td>
      <td>107576.271186</td>
      <td>JPMorgan Chase</td>
      <td>1.013000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>FL</td>
      <td>6.0</td>
      <td>298.0</td>
      <td>112000.0</td>
      <td>117117.449664</td>
      <td>Citrix Systems Inc</td>
      <td>1.012640</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>GA</td>
      <td>5.0</td>
      <td>573.0</td>
      <td>115000.0</td>
      <td>120424.083770</td>
      <td>Microsoft</td>
      <td>0.919000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>HI</td>
      <td>5.0</td>
      <td>4.0</td>
      <td>149000.0</td>
      <td>142000.000000</td>
      <td>Amazon</td>
      <td>1.545750</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>IA</td>
      <td>6.0</td>
      <td>31.0</td>
      <td>104000.0</td>
      <td>104903.225806</td>
      <td>Collins Aerospace</td>
      <td>0.895375</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>ID</td>
      <td>6.0</td>
      <td>45.0</td>
      <td>103000.0</td>
      <td>115600.000000</td>
      <td>Micron Technology</td>
      <td>0.949667</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>IL</td>
      <td>5.0</td>
      <td>885.0</td>
      <td>123000.0</td>
      <td>124228.813559</td>
      <td>Accenture</td>
      <td>0.880583</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>IN</td>
      <td>5.5</td>
      <td>100.0</td>
      <td>96000.0</td>
      <td>100870.000000</td>
      <td>Salesforce</td>
      <td>0.873000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>KS</td>
      <td>7.0</td>
      <td>37.0</td>
      <td>93000.0</td>
      <td>105972.972973</td>
      <td>Garmin</td>
      <td>0.875200</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>KY</td>
      <td>7.5</td>
      <td>24.0</td>
      <td>100000.0</td>
      <td>108625.000000</td>
      <td>Humana</td>
      <td>0.881778</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>LA</td>
      <td>5.0</td>
      <td>31.0</td>
      <td>93000.0</td>
      <td>103354.838710</td>
      <td>IBM</td>
      <td>0.886000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>MA</td>
      <td>5.0</td>
      <td>1738.0</td>
      <td>135000.0</td>
      <td>132170.598389</td>
      <td>Wayfair</td>
      <td>1.145500</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>MD</td>
      <td>6.0</td>
      <td>105.0</td>
      <td>124000.0</td>
      <td>124266.666667</td>
      <td>Northrop Grumman</td>
      <td>1.011200</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>ME</td>
      <td>5.0</td>
      <td>4.0</td>
      <td>96500.0</td>
      <td>97000.000000</td>
      <td>Blackhawk Network</td>
      <td>1.026750</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>MI</td>
      <td>5.0</td>
      <td>218.0</td>
      <td>110000.0</td>
      <td>113000.917431</td>
      <td>General Motors</td>
      <td>0.898350</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>MN</td>
      <td>5.0</td>
      <td>278.0</td>
      <td>119000.0</td>
      <td>118758.992806</td>
      <td>Target</td>
      <td>0.981143</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>MO</td>
      <td>5.0</td>
      <td>190.0</td>
      <td>89000.0</td>
      <td>101252.631579</td>
      <td>Cerner</td>
      <td>0.877700</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>MS</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>100000.0</td>
      <td>90333.333333</td>
      <td>ABB</td>
      <td>0.859667</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>MT</td>
      <td>8.0</td>
      <td>7.0</td>
      <td>95000.0</td>
      <td>113714.285714</td>
      <td>Oracle</td>
      <td>1.054000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>NC</td>
      <td>6.0</td>
      <td>504.0</td>
      <td>123000.0</td>
      <td>125559.523810</td>
      <td>IBM</td>
      <td>0.918400</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>ND</td>
      <td>4.0</td>
      <td>5.0</td>
      <td>90000.0</td>
      <td>101600.000000</td>
      <td>AWS</td>
      <td>0.914750</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>NE</td>
      <td>5.0</td>
      <td>25.0</td>
      <td>105000.0</td>
      <td>102800.000000</td>
      <td>Mutual of Omaha</td>
      <td>0.921333</td>
    </tr>
    <tr>
      <th>30</th>
      <td>30</td>
      <td>NH</td>
      <td>5.0</td>
      <td>35.0</td>
      <td>111000.0</td>
      <td>105685.714286</td>
      <td>Oracle</td>
      <td>1.055750</td>
    </tr>
    <tr>
      <th>31</th>
      <td>31</td>
      <td>NJ</td>
      <td>5.0</td>
      <td>460.0</td>
      <td>130000.0</td>
      <td>133928.260870</td>
      <td>JPMorgan Chase</td>
      <td>1.034000</td>
    </tr>
    <tr>
      <th>32</th>
      <td>32</td>
      <td>NM</td>
      <td>4.5</td>
      <td>10.0</td>
      <td>119500.0</td>
      <td>116300.000000</td>
      <td>Sandia National Labs</td>
      <td>0.906250</td>
    </tr>
    <tr>
      <th>33</th>
      <td>33</td>
      <td>NV</td>
      <td>4.0</td>
      <td>24.0</td>
      <td>110000.0</td>
      <td>108166.666667</td>
      <td>Zappos</td>
      <td>1.037000</td>
    </tr>
    <tr>
      <th>34</th>
      <td>34</td>
      <td>NY</td>
      <td>5.0</td>
      <td>4715.0</td>
      <td>152000.0</td>
      <td>153596.447508</td>
      <td>Bloomberg</td>
      <td>0.970389</td>
    </tr>
    <tr>
      <th>35</th>
      <td>35</td>
      <td>OH</td>
      <td>5.5</td>
      <td>202.0</td>
      <td>105000.0</td>
      <td>109955.445545</td>
      <td>JPMorgan Chase</td>
      <td>0.888045</td>
    </tr>
    <tr>
      <th>36</th>
      <td>36</td>
      <td>OK</td>
      <td>4.0</td>
      <td>18.0</td>
      <td>85000.0</td>
      <td>91222.222222</td>
      <td>Paycom</td>
      <td>0.842429</td>
    </tr>
    <tr>
      <th>37</th>
      <td>37</td>
      <td>OR</td>
      <td>8.0</td>
      <td>637.0</td>
      <td>133000.0</td>
      <td>134316.200942</td>
      <td>Intel</td>
      <td>1.062083</td>
    </tr>
    <tr>
      <th>38</th>
      <td>38</td>
      <td>PA</td>
      <td>5.0</td>
      <td>480.0</td>
      <td>121500.0</td>
      <td>122185.416667</td>
      <td>Comcast</td>
      <td>0.934520</td>
    </tr>
    <tr>
      <th>39</th>
      <td>39</td>
      <td>RI</td>
      <td>3.5</td>
      <td>18.0</td>
      <td>103500.0</td>
      <td>97388.888889</td>
      <td>CVS Health</td>
      <td>1.115000</td>
    </tr>
    <tr>
      <th>40</th>
      <td>40</td>
      <td>SC</td>
      <td>5.0</td>
      <td>22.0</td>
      <td>94000.0</td>
      <td>104090.909091</td>
      <td>Blackbaud</td>
      <td>0.934091</td>
    </tr>
    <tr>
      <th>41</th>
      <td>41</td>
      <td>SD</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.935000</td>
    </tr>
    <tr>
      <th>42</th>
      <td>42</td>
      <td>TN</td>
      <td>5.0</td>
      <td>79.0</td>
      <td>112000.0</td>
      <td>107924.050633</td>
      <td>Amazon</td>
      <td>0.903929</td>
    </tr>
    <tr>
      <th>43</th>
      <td>43</td>
      <td>TX</td>
      <td>6.0</td>
      <td>2702.0</td>
      <td>125000.0</td>
      <td>125189.711325</td>
      <td>IBM</td>
      <td>0.910533</td>
    </tr>
    <tr>
      <th>44</th>
      <td>44</td>
      <td>UT</td>
      <td>5.0</td>
      <td>224.0</td>
      <td>120000.0</td>
      <td>118521.875000</td>
      <td>Qualtrics</td>
      <td>0.999600</td>
    </tr>
    <tr>
      <th>45</th>
      <td>45</td>
      <td>VA</td>
      <td>4.0</td>
      <td>917.0</td>
      <td>125000.0</td>
      <td>128785.605234</td>
      <td>Capital One</td>
      <td>0.947091</td>
    </tr>
    <tr>
      <th>46</th>
      <td>46</td>
      <td>VT</td>
      <td>7.0</td>
      <td>7.0</td>
      <td>107000.0</td>
      <td>107428.571429</td>
      <td>Cox Automotive</td>
      <td>1.128000</td>
    </tr>
    <tr>
      <th>47</th>
      <td>47</td>
      <td>WA</td>
      <td>6.0</td>
      <td>12353.0</td>
      <td>145000.0</td>
      <td>144138.244556</td>
      <td>Amazon</td>
      <td>1.070235</td>
    </tr>
    <tr>
      <th>48</th>
      <td>48</td>
      <td>WI</td>
      <td>3.0</td>
      <td>155.0</td>
      <td>110000.0</td>
      <td>116329.032258</td>
      <td>Epic Systems</td>
      <td>0.913579</td>
    </tr>
    <tr>
      <th>49</th>
      <td>49</td>
      <td>WV</td>
      <td>7.0</td>
      <td>11.0</td>
      <td>86000.0</td>
      <td>100454.545455</td>
      <td>Leidos</td>
      <td>0.836333</td>
    </tr>
    <tr>
      <th>50</th>
      <td>50</td>
      <td>WY</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>