<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits and Sources</title>
    <style>
        p {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
        a {
            text-align: center;
        }
        b {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Data Sources and Tools:</h1>
    <p>Python Libraries = Pandas, Flask, GeoPandas, Folium</p>
    <a href=""></a>

    <h1>Project Credits:</h1>
    <p>This project was made for Data Science @ Georgia Tech: Bootcamp Spring 2023</p>

    <p><b>- Data Manipulation - </b></p>
    <p>Main Data Preprocessing: Jaden Lim, Euan Chen</p>
    <p>Aggregate Dataframe: Jeff Chow </p>
    <p>Applying Additional Elements (Coordinates, Standard of Living): Jeff Chow </p>

    <p><b>- Web Application Creation -</b></p>
    <p>Flask Application: Jeff Chow</p>
    <p>HTML Pages: Jeff Chow</p>
    <p>Data Visualization (Heat Maps, Choropleth): Jeff Chow</p>

    <p><b>- Project Milestone Assignments -</b></p>
    <p>Milestone 1: Jeff Chow, Jaden Lim</p>
    <p>Milestone 2: Euan Chen</p>
    <p>Milestone 3: Jeff Chow</p>
    
</body>
</html>