<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{state}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css') }}" type="text/css" >
</head>
<body>
    <h1>This is {{state}}</h1>
    <!-- <img src="{{url_for('static', filename=stateImageURL) }}" height = 400px class = centeredImage> -->
    <iframe src="{{url_for('static', filename=stateImageURL) }}" height = 384px width = 640px class = centeredImage></iframe>
    <p>Factoring most cities together, living here costs roughly {{stateData.iloc[0]['averageCostOfLivingFactor']}}x times the national average. </p>
    <p>Number of Jobs Found: {{stateData.iloc[0]['listings']}} </p>
    <p>Salaries (Nationally Stardardized): [Median = ${{stateData.iloc[0]['standardizedMedianSalaries']}}] | [Average = ${{stateData.iloc[0]['standardizedAverageSalaries']}}]</p>
    <p>Salaries (State Relative): [Median = ${{stateData.iloc[0]['medianSalary']}}] | [Average = ${{stateData.iloc[0]['averageSalary']}}]</p>
    <p>Company With The Most Listings: {{stateData.iloc[0]['commonCompany']}}</p>
    <p>Most Common Jobs:</p>
    {{jobSeries | safe}}

    
    <p>Cities by Listings:</p>
    {{locationSeries | safe}} 

    <!-- Since stateJobs is already an html file that was passed in, it can just be placed like so
    there is no need to convert a dataframe to html here or use a jinja loop -->
    <p>Table of All Job Listings Found:</p>
    {{stateJobsHTML | safe}}

</body>
</html>