<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{state}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css') }}" type="text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <a href="/">
    <button class="btn"><i class="fa fa-home"> Home</i></button>
    </a>
    <h1>This is {{state}}</h1>
    <!-- <img src="{{url_for('static', filename=stateImageURL) }}" height = 400px class = centeredImage> -->
    <iframe src="{{url_for('static', filename=stateImageURL) }}" height = 384px width = 640px class = centeredImage></iframe>
    <p>Factoring most cities together, living here costs roughly <b>{{stateData.iloc[0]['averageCostOfLivingFactor']}}x</b> times the national average. </p>
    {% if stateData.iloc[0]['listings'] > 0%}
        <p>Number of Jobs Found: <b>{{stateData.iloc[0]['listings']}} </b></p>
        <p>Salaries (Nationally Stardardized): <b>[Median = ${{stateData.iloc[0]['standardizedMedianSalaries']}}] | [Average = ${{stateData.iloc[0]['standardizedAverageSalaries']}}]</b></p>
        <p>Salaries (State Relative): <b>[Median = ${{stateData.iloc[0]['medianSalary']}}] | [Average = ${{stateData.iloc[0]['averageSalary']}}]</b></p>
        <p>Company With The Most Listings: <b>{{stateData.iloc[0]['commonCompany']}}</b></p>
        <p>Most Common Jobs:</p>
        {{jobSeries | safe}}

        
        <p>Cities by Listings:</p>
        {{locationSeries | safe}} 

        <!-- Since stateJobs is already an html file that was passed in, it can just be placed like so
        there is no need to convert a dataframe to html here or use a jinja loop -->
        <p>Table of All Job Listings Found:</p>
        {{stateJobsHTML | safe}}
    {% else %}
        <p>Unfortunately, {{state}} doesn't seem to have any related job listings.</p>
    {% endif %}
</body>
</html>